[General]
test_directory = directory_with_test_repo_cloned
plans_directory = plans
inventory = /path/to/ansible/inventory
report    = ./report.csv
extra_vars = /path/to/local/ansible/extra_vars
iterations = 20
max_failures = 3
output_dir = /path/to/directory/to/store/output

[Ansible Runner Settings]
suppress_ansible_output = False

[Enabled Functional Tests]
01_test_neutron

